version: '3.8'

services:
  mongo:
    image: mongo:latest
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: <username>
      MONGO_INITDB_ROOT_PASSWORD: <password>
    volumes:
      - mongo-data:/data/db

  backend:
    image: rohithracharla/mean-backend:latest
    container_name: backend-api
    restart: always
    depends_on:
      - mongo
    environment:
      DB_CONNECTION_STRING: mongodb://admin:password123@mongo:27017/dd_db?authSource=admin
      PORT: 3000

  frontend:
    image: rohithracharla/mean-frontend:latest
    container_name: frontend-ui
    restart: always

  nginx-proxy:
    image: nginx:alpine
    container_name: gateway
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend

volumes:
  mongo-data:
